.img-hero {
    width: 240px;         
    border-radius: 50%;   
    object-fit: cover; 
    margin-top:30px ;   
}
.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
.hero h1{
    text-align: center;
    font-size: 60px;
    width: 65%;
    font-weight: 600;
    line-height: 70px;
}
.hero h1 span {
    background: linear-gradient(270deg,#DF8908 10%,#B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p {
    width:50%;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-action .hero-connect{
    padding: 14px;
    border-radius: 50px;
    background: linear-gradient(270deg,#DF8908 10%,rgb(180, 21, 255) 100%);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.hero-action .hero-connect:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border: 2px solid rgb(255, 255, 255);

}
.hero-action .hero-resume{
    padding: 14px 35px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
}
.hero-action .hero-resume:hover{
    border: 2px solid rgb(180, 21, 255);
}
@media (max-width: 768px) {
    .hero img {
        margin-top: 50px;
        width: 200px; 
    }

    .hero h1 {
        margin-top: 10px; 
        width: 90%;
        font-size: 35px;
    }
    .hero p {
    width: 60%;   
    font-size: 18px;  
    line-height: 32px;
    margin: 10px 0px;
}
.hero-action {
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
}

}
