.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:80px;
    margin: 80px 170px;
}
.title-box{
        position: relative;
}
.title-box h1 {
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
}

.title-box img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.about-sections{
    display: flex;
    align-items: center;
    gap: 70px;
}
.about-left img{
    width: 360px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-para {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
}
.about-para p span{
    background: linear-gradient(270deg,#DF8908 10%,rgb(180, 21, 255) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}
.skills-part {
    display: flex;
    flex-wrap: wrap;
    gap:50px;
    justify-content: center;
    margin-top: 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color:white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.skill svg {
    fill: #686668;
}
.skill span {
    text-align: center;
}
.skill:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.skill svg:hover {
    fill: #d265c3;
}
@media (max-width: 768px) {
    .about {
        gap: 50px;
        margin: 50px 6%; 
        align-items: start; 
    }

    .title-box h1 { 
        font-size: 40px;
        padding: 0;
    }

    .title-box img {
        width: 130px;
        right: -20px;
    }
    .about-sections{
        flex-direction: column;
    }
    .about-left{
        display: none;
    }
    .about-para{
        font-size: 17px;
        line-height: 32px;
    }

}
