/* ---------- About Section ---------- */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 80px 170px;
}

.title-box {
    position: relative;
}

.title-box h1 {
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
}

.title-box img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* ---------- Desktop: image on left, text on right ---------- */
.about-sections {
    display: flex;
    align-items: center;
    gap: 70px;
}

.about-left img {
    width: 390px;
    border-radius: 30px;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 0px;
    flex: 1; 
}

.about-para {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
}

.about-para p span {
    background: linear-gradient(270deg,#DF8908 10%,rgb(180, 21, 255) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.skills-part {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
    border: 2px solid rgba(226, 171, 213, 0.093);
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.skills-part:hover{
        border: 2px solid rgba(196, 79, 169, 0.305);

}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.skill:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.skill:hover svg {
    fill: rgb(239, 107, 223);
}
/* ---------- Responsive: Tablet ---------- */
@media (max-width: 1024px) {
    .about {
        margin: 50px 50px;
        gap: 60px;
    }
    .about-left {
        display: none;
    }
    .title-box h1 {
        font-size: 50px;
    }

    .title-box img {
        width: 150px;
    }

    .about-sections {
        gap: 50px;
    }

    .about-para {
        font-size: 20px;
        line-height: 36px;
    }
}

/* ---------- Responsive: Mobile ---------- */
@media (max-width: 768px) {
    .about {
        gap: 25px;
        margin: 50px 6%;
        align-items: flex-start;
    }

    .title-box h1 {
        font-size: 40px;
        padding: 0;
    }

    .title-box img {
        width: 130px;
        right: -20px;
    }

    .about-sections {
        flex-direction: column;
        gap: 30px;
    }

    .about-left {
        display: none; 
    }

    .about-right {
        width: 100%;
    }

    .about-para {
        font-size: 17px;
        line-height: 32px;
    }

    .skills-part {
        gap: 30px;
    }
}

/* ---------- Extra Small Screens ---------- */
@media (max-width: 480px) {
    .title-box h1 {
        font-size: 32px;
    }

    .about-para {
        font-size: 16px;
        line-height: 28px;
    }

    .skills-part {
        gap: 49px;
    }
}
