.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 10%;
    gap: 60px;
}

/* ---------- Title ---------- */
.title{
    position: relative;
}

.title h1{
    padding: 0 30px;
    font-size: 60px;
    font-weight: 600;
}

.title img{
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
}

/* ---------- Contact Section ---------- */
.contact-section{
    display: flex;
    gap: 60px;
    width: 100%;
}

/* ---------- Left ---------- */
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}

.contact-left h1{
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(270deg,#DF8908 80%,#B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p{
    max-width: 550px;
    color: #D8D8D8;
    line-height: 35px;
    font-size: 20px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #D8D8D8;
    font-size: 22px;
}

.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}

/* ---------- Right ---------- */
.contact-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.contact-right label{
    color: #D8D8D8;
    font-size: 22px;
    font-weight: 500;
}

.contact-right input,
.contact-right textarea{
    width: 90%;
    max-width: 700px;
    border: none;
    padding: 15px 20px;
    border-radius: 6px;
    background:#32323c;
    color:#fff;
    font-family: Outfit;
    font-size: 20px;
}

.contact-right textarea{
    min-height: 160px;
    resize: none;
}

/* ---------- Button ---------- */
.contact-submit{
    border: none;
    color:white;
    border-radius: 50px;
    background: linear-gradient(264deg,#DF8908 -5.09%,#B415FF 106.28%);
    font-size: 22px;
    padding: 12px 40px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
    width: fit-content;
}

.contact-submit:hover{
    transform: scale(1.08);
    background: linear-gradient(rgb(156, 69, 196) 100%);
}

/* ---------- Tablet ---------- */
@media (max-width: 1024px) {
    .contact{
        margin: 70px 6%;
    }

    .contact-section{
        gap: 40px;
    }

    .title h1{
        font-size: 48px;
    }
}

/* ---------- Mobile ---------- */
@media (max-width: 768px) {
    .contact{
        margin: 50px 6%;
        align-items: flex-start;
        gap: 50px;
    }

    .title h1{
        font-size: 40px;
        padding: 0;
    }

    .title img{
        width: 130px;
        right: -20px;
    }

    .contact-section{
        flex-direction: column;
        gap: 50px;
    }

    .contact-left h1{
        font-size: 42px;
    }

    .contact-left p{
        font-size: 16px;
        line-height: 32px;
    }

    .contact-right label{
        font-size: 18px;
    }

    .contact-submit{
        font-size: 18px;
        padding: 14px 45px;
    }
}

/* ---------- Small Mobile ---------- */
@media (max-width: 480px) {
    .contact-left h1{
        font-size: 34px;
    }

    .title h1{
        font-size: 32px;
    }
}
