.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 10%;
    gap: 60px;

}
.title{
    position: relative;
}
.title  h1{
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
}
.title img{
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
}
.contact-section{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-left h1{
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(270deg,#DF8908 80%,#B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    max-width: 550px;
    color: #D8D8D8;
    line-height: 35px;
    font-size: 20px;
}
.contact-details{
    display: flex; 
    flex-direction: column;
    gap: 30px; 
    color: #D8D8D8;
    font-size: 22px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.contact-right label{
color: #D8D8D8;
font-size: 22px;
font-weight: 500;
}
.contact-right input{
border: none;
width: 700px;
height: 50px;
padding-left: 20px;
border-radius: 4px;
background:#32323c;
color:#fbf1f1;
font-family: Outfit;
font-size: 20px;
}
.contact-right textarea{
    width: 650px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background:#32323c;
    color:#A0A0A0;
    font-family: Outfit;
    font-size: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.contact-submit{
    border: none;
    color:white;
    border-radius: 50px;
    background: linear-gradient(264deg,#DF8908 -5.09%,#B415FF 106.28%);
    font-size: 22px;
    padding: 10px 35px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.contact-submit:hover{ 
    transform: scale(1.1); 
    transition: 0.3s;
    -webkit-transition:0.3s; 
    -moz-transition:0.3s; 
    -ms-transition:0.3s; 
    -o-transition:0.3s;
}

@media (max-width: 768px) {
    .contact {
        gap: 50px;
        margin: 50px 6%; 
        align-items: start; 
    }

    .contact .title h1 { 
        font-size: 40px;
        padding: 0;
    }

    .contact .title img {
        width: 130px;
        right: -20px;
    }
    .contact-section{
        flex-direction: column;
    }
    .contact-left h1{
        font-size: 54px;
    }
    .contact-left p{
        font-size: 18px;
    }
    .contact-detail{
        gap: 20px;
    }
    .contact-detail img{
        width: 25px;
    }
    .contact-right label {
        font-size: 20px;
    }
    .contact-right input {
        font-size: 20px;
        width: 100%;
    }
    .contact-right textarea {
        font-size: 20px;
        width: 95%;
    }
    .contact-submit{
        font-size: 20px;
        padding: 15px 40px;
    }

}