/* ---------- Desktop & Large Screens ---------- */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.logo img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.logo p {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    margin: 0;
    letter-spacing: 1px;
}
.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 60px; 
    font-size: 16px; 
    font-weight: 500;
}


.nav-connect {
    padding: 15px 27px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(267deg, #DA7C25 0%, #B923E1 100%);
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-connect:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2); 
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img {
    display: flex;
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

/* ---------- Mobile Menu Icons ---------- */
.nav-mob-closed,
.nav-mob-open {
    display: none;
}

/* ---------- Responsive: Tablets & Mobile ---------- */
@media (max-width: 1024px) {
    .navbar {
        margin: 20px 50px;
    }

    .nav-menu {
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: absolute;
        right: 30px;
        cursor: pointer;
        z-index: 2;
    }

    .nav-mob-closed {
        display: block;
        position: absolute;
        right: 30px;
        top: 20px;
        width: 30px;
        cursor: pointer;
        z-index: 3;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        top: 0;
        right: -500px; /* Default hidden */
        width: 350px;
        height: 100%;
        background-color: #1F0016;
        padding-top: 100px;
        gap: 30px;
        transition: right 0.5s;
        z-index: 2;
    }

    .nav-menu li {
        font-size: 24px;
        flex-direction: row;
        gap: 20px;
        padding-left: 30px;
    }
}

/* ---------- Extra Small Screens ---------- */
@media (max-width: 480px) {
    .navbar {
        margin: 15px 20px;
    }

    .nav-menu {
        width: 100%;
        padding-top: 80px;
        right: -500px;
        background-color: #000000;
    }

    .nav-menu li {
        padding-left: 20px;
        font-size: 20px;
        gap: 15px;
    }
}
