/* ---------- Footer Section ---------- */
.container{
  background-color: rgba(42, 42, 42, 0.893);
}
.footer {
    margin: 20px 120px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.footer-top-left img{
    margin-bottom: 15px;
}
.footer-top-left p {
    font-size: 16px; 
    max-width: 380px;
}

.footer-top-right {
  display: flex;
  gap: 50px;
}
.footer-top-right a{
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s, color 0.3s;
}
.footer-top-right a:hover {
  color: rgb(240, 136, 221);
  transform: translateY(-3px);
}
.footer-top-right i {
  font-size: 22px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.footer-top-right i:hover {
  color: rgb(240, 136, 221);
  transform: translateY(-3px);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 16px; 
    margin: 0px auto ;
}
.footer-bottom p{
    margin-bottom: 30px;
}

/* ---------- Responsive: Tablet ---------- */
@media (max-width: 1024px) {
    .footer {
        margin: 50px 50px;
        gap: 35px;
    }
    .footer-top-left p {
        max-width: 300px;
        font-size: 15px;
    }

    .footer-bottom {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .footer-bottom-right {
        gap: 20px;
    }
}

/* ---------- Responsive: Mobile ---------- */
@media (max-width: 768px) {
    .footer {
        margin: 50px 30px;
        gap: 30px;
    }

    .footer-top {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .footer-bottom {
        flex-direction: column-reverse;
        gap: 15px;
        font-size: 13px;
    }

    .footer-top-right {
        gap: 50px;
    }
    .footer-top-right a span{
      display: none;
    }

}

/* ---------- Responsive: Extra Small Screens ---------- */
@media (max-width: 480px) {
    .footer {
        margin: 40px 20px;
        gap: 25px;
    }

    .footer-top-left p {
        font-size: 14px;
    }
    .footer-email-input {
        width: 90%;
        padding: 10px 20px;
    }
    .footer-subscribe {
        font-size: 16px;
        padding: 14px 25px;
    }

    .footer-bottom-right {
        gap: 15px;
    }
}
