/* ---------- Footer Section ---------- */
.footer {
    margin: 50px 120px; 
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}
.footer-top-left img{
    margin-bottom: 15px;
}
.footer-top-left p {
    font-size: 16px; 
    max-width: 380px;
}

.footer-top-right {
    display: flex;
    align-items: center;
    gap: 25px; 
}

.footer-email-input {
    display: flex;
    gap: 20px; 
    padding: 14px 25px; 
    padding-right: 60px;
    border-radius: 50px;
    background: #32323B;
    transition: border 0.3s;
}

.footer-email-input input {
    outline: none;
    border: none;
    background: transparent;
    color: #aeaeae;
    font-family: Outfit, sans-serif;
    font-size: 16px; 
}

.footer-email-input:hover {
    border: 2px solid white;
}

.footer-subscribe {
    font-size: 18px; 
    padding: 16px 40px; 
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: aliceblue;
    background: linear-gradient(264deg, #DF8908 -5%, #B415FF 106%);
}

.footer-subscribe:hover {
    transform: scale(1.05);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 16px; 
}

.footer-bottom-right {
    display: flex;
    gap: 30px; 
    margin-bottom: 40px; 
}

/* ---------- Responsive: Tablet ---------- */
@media (max-width: 1024px) {
    .footer {
        margin: 50px 50px;
        gap: 35px;
    }
    .footer-top-left p {
        max-width: 300px;
        font-size: 15px;
    }

    .footer-bottom {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .footer-bottom-right {
        gap: 20px;
    }
}

/* ---------- Responsive: Mobile ---------- */
@media (max-width: 768px) {
    .footer {
        margin: 50px 30px;
        gap: 30px;
    }

    .footer-top {
        flex-direction: column;
        gap: 40px;
    }

    .footer-bottom {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .footer-top-right {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .footer-email-input {
        width: 93%;
        padding: 12px 20px;
    }

    .footer-subscribe {
        width: 100%;
        text-align: center;
    }
}

/* ---------- Responsive: Extra Small Screens ---------- */
@media (max-width: 480px) {
    .footer {
        margin: 40px 20px;
        gap: 25px;
    }

    .footer-top-left p {
        font-size: 14px;
    }
    .footer-email-input {
        width: 90%;
        padding: 10px 20px;
    }
    .footer-subscribe {
        font-size: 16px;
        padding: 14px 25px;
    }

    .footer-bottom-right {
        gap: 15px;
    }
}
