.work-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 10%;

}
.title{
    position: relative;
}
.title  h1{
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
}
.title img{
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
}
.work{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.work img{
    box-sizing: border-box;
    cursor: pointer;
    width: 390px;
    height: 260px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.work img:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    border: 4px solid #ff00ff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.show_more{
    display: flex;
    gap: 15px;
    border: 2px solid white;
    padding: 15px 50px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 30px;
    transition: 0.6s;
    cursor: pointer;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
.show_more:hover{
    gap: 30px;
}
.show_more p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width: 768px) {
    .work-section {
        gap: 50px;
        margin: 50px 6%; 
        align-items: start; 
    }

    .work-section .title h1 { 
        font-size: 40px;
        padding: 0;
        font-weight: 600;
    }

    .work-section .title img {
        width: 130px;
        right: -20px;
    }
    .work{
        grid-template-columns: 1fr 1fr;
    }
    .work img {
        width: 100%;
        height: 100%;
    }
    .show_more{
        padding: 20px 40px;
        font-size: 18px;
        margin: 50px auto;
        cursor: pointer;
    }
}